

<img (click)="ocultar()" class="logo" src="../assets/logo.png" alt="">
<div  class="nav" id="nav">
  <img (click)="ocultar()" class="nav__logo" src="../assets/logo.png" alt="">
  <div class="nav__link" ><a routerLink="/panel">Carros</a></div>
  <div class="nav__link" ><a routerLink="/admon">Administrador</a></div>
  <div class="nav__bottom">
    <div class="nav__divider"></div>
    <div class="nav__link--bottom"><a routerLink="/home">configuracion</a></div>
  </div>

</div>

<div class="content">
  <router-outlet><!--Aca se muestra las paginas--></router-outlet>
</div>
