<div class="data">
    <div class="time">
      <h1>Configurar Hora</h1>
      <div class="days">
        <div>
            <div *ngFor="let day of data" class="days__day" (click)="change(day.i)">
                <div>
                    <p>{{day.i}}</p>
                </div>
                <p>{{day.dia2}}</p>
            </div>
            
        </div>
      </div>

      <div class="hours">
        <div (click)="configHour(hour.i)" *ngFor="let hour of hours" class="hours_card">
            <p>{{hour.hour}}:00</p>
        </div>
      </div>


    </div>

    <div class="sumary">
      <div class="sumary_top">
        <div class="sumary_commerce oculto">
          <img src="" alt="" />
          <div>
            <p><b>Comercio</b></p>
            <p>Calificacion</p>
            <p>Locacion</p>
          </div>
        </div>
  
        <div class="sumary_date">
          <div>
            <span class="material-symbols-outlined"> calendar_month</span>
            <p>Jueves 22 febrero</p>
          </div>
          <div>
            <span class="material-symbols-outlined"> Schedule</span>
            <p>Jueves 22 febrero</p>
          </div>
        </div>
        <div class="sumary_cart">
          <div class="sumary_cart_card">
            <div class="cart_card_item">
              <p>Asesoria Emprendimiento</p>
              <p>Persona</p>
            </div>
            <div class="price">
              <p>18.000 COP</p>
            </div>
          </div>
        </div>
        <div class="sumary_total">
          <p>Total</p>
          <p>18.000 COP</p>
        </div>
        <div></div>
      </div>
      <div class="sumary_bottom">
          <button>Continuar</button>
        </div>
    </div>
  
  </div>
  