.data{
    display: flex;
}
.data>div{
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.profesional{
    width: 65%;
}
.profesional_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card_profesional{
    width: 200px;
    text-align: center;
    padding: 20px;
    outline: 2px solid var(--gi);
    border-radius: 5px;
}

.card_profesional:hover{
    cursor: pointer;
    background-color: var(--g);
}

.card_profesional>img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 8px;
}

.card_profesional>span{
    font-size: 40px;
    margin: 20px;
}

.card_profesional>p{
    margin: 5px;
    font-size: 16px;
}
.card_profesional>p:nth-child(2){
    font-weight: 500;
}

.card_profesional>p:nth-child(3){
    font-size: 14px;
    color: var(--gi);
}


.select{
    outline: 2px solid var(--b1);
}


.sumary{
    width: 35%;
    border-radius: 5px;
    outline: 2px solid var(--g);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
}

.sumary_date>div{
    display: flex;
    margin: 10px;
}


.sumary_date>div>*{
    font-size: 16px;
    color: var(--gi);
    margin: 0px;
    margin-left: 5px;
}



.oculto{
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}
.sumary_cart_card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cart_card_item>p:nth-child(2) {
    color: var(--gi);
}
.cart_card_item>p{
    margin: 0px;
}

.price>p{
    margin: 0px;
}

.sumary_total{
    border-top: 1px solid var(--gi);
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

button{
    color: var(--w);
    outline: none;
    border: none;
    background: var(--b1);
    padding: 10px;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 5px;
}