<div class="data">
  <div class="profesional">
    <h1>Selecionar profesional</h1>
    <div class="profesional_grid">
      <div (click)="default()" class="card_profesional">
        <span class="material-symbols-outlined">group</span>
        <p>Cualquier Profesional</p>
        <p>Para maxima disponibilidad</p>
      </div>

      <div *ngFor="let profesional of profesionals;index as i;" (click)="select(i)"  class="card_profesional">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <p>{{profesional.name}}</p>
        <p>{{profesional.profresion}}</p>
      </div>


    </div>
  </div>

  <div class="sumary">
    <div class="sumary_top">
      <div class="sumary_commerce oculto">
        <img src="" alt="" />
        <div>
          <p><b>Comercio</b></p>
          <p>Calificacion</p>
          <p>Locacion</p>
        </div>
      </div>

      <div class="sumary_date">
        <div>
          <span class="material-symbols-outlined"> calendar_month</span>
          <p>Jueves 22 febrero</p>
        </div>
        <div>
          <span class="material-symbols-outlined"> Schedule</span>
          <p>Jueves 22 febrero</p>
        </div>
      </div>
      <div class="sumary_cart">
        <div class="sumary_cart_card">
          <div class="cart_card_item">
            <p>Asesoria Emprendimiento</p>
            <p>Persona</p>
          </div>
          <div class="price">
            <p>18.000 COP</p>
          </div>
        </div>
      </div>
      <div class="sumary_total">
        <p>Total</p>
        <p>18.000 COP</p>
      </div>
      <div></div>
    </div>
    <div class="sumary_bottom">
        <button (click)="next()">Continuar</button>
      </div>
  </div>

</div>
