.sumary{
    width: 35%;
    border-radius: 5px;
    outline: 2px solid var(--g);
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
}

.sumary_date>div{
    display: flex;
    margin: 10px;
}


.sumary_date>div>*{
    font-size: 16px;
    color: var(--gi);
    margin: 0px;
    margin-left: 5px;
}



.oculto{
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}
.sumary_cart_card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cart_card_item>p:nth-child(2) {
    color: var(--gi);
}
.cart_card_item>p{
    margin: 0px;
}

.price>p{
    margin: 0px;
}

.sumary_total{
    border-top: 1px solid var(--gi);
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

button{
    color: var(--w);
    outline: none;
    border: none;
    background: var(--b1);
    padding: 10px;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 5px;
}